
{% extends "base.html" %}
{% block content %}


        <div class="blogForm">
            <div class="row create-blog-heading">
                <h2>Write Blog</h2>
            </div>

            <div class="mainForm">
            {% with messages = get_flashed_messages() %}  
				{% if messages %}  
					{% for message in messages %}  
					    <p class="successFull">{{ message }}</p>  
					{% endfor %}  
				{% endif %}  
			{% endwith %} 
                <form class="row g-3" action="/submitBlog" method="post" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <label for="inputText" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="inputText"  required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputAuthorName" class="form-label">Author Name</label>
                        <input type="text" name="authorName" class="form-control" id="inputAuthorName" required required>
                    </div>
                    <div class="col-6">
                        <label for="inputType" class="form-label">Type</label>
                        <input type="text" name="contentType" class="form-control" id="inputType" placeholder="Computer Science" required>
                    </div>
                    <div class="col-6">
                        <label for="inputTimeAndDate" class="form-label">Time and Date</label>
                        <input type="datetime-local" name="timeAndDate" class="form-control" id="inputTimeAndDate" required>
                    </div>
                    <div class="col-md-12">
                        <label for="inputContent" class="form-label">Content</label>
                        <textarea name="Content" class="form-control" id="inputContent" rows="20"  required ></textarea>
                    </div>

                    <!-- file Uploader -->
                    <div class="mb-3 col-6">
                        <label for="formFile" class="form-label">Image 1 of Blog </label>
                        <input class="form-control" name="file1" type="file" id="formFile" required>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="formFileMultiple" class="form-label">Image 2 of Blog</label>
                        <input class="form-control" type="file" name="file2" id="formFileMultiple" required>
                    </div>

                    <div class="col-md-6">
                        <label for="inputText" class="form-label">Imgage 1 Sub heading</label>
                        <input type="text" name="imgSubhead1" class="form-control" id="inputText"  required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputAuthorName" class="form-label">Imgage 2 Sub heading</label>
                        <input type="text" name="imgSubhead2" class="form-control" id="inputsubheadName" required>
                    </div>
                    <!-- <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}