
{% extends "base.html" %}
{% block content %}

        <span>
            <h1 class="mainHeadingOfblog">BLOGS</h1>
        </span>
        <!-- main Container -->
        
        <div class="blogs">
            {% for blog_item in blog_items %}
            <!-- <script>
                var mailBlogData = {{blog_item.s_no | tojson}};
            </script> -->
            <div class="card mb-3 blog-cards" style="max-width: 540px;">

                <div class="row g-0">
                    <div class="col-md-4">
                        <img src= {{image +'/'+ blog_item.img1}} class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title ">{{blog_item.title}}</h5>
                            <p class="card-text blog-content-home">{{blog_item.content}} </p>
                            <p class="card-text"><small class="text-muted">{{blog_item.date_time.strftime("%d/%m/%Y %H:%M")}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        <!-- end main Container -->
    </section>


{% endblock %}