<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Sign-Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <link rel="stylesheet" href=" {{url_for('static', filename='style.css' )}} ">   
</head>

<body>
    <div class="container container-for-singup">
        <div class="sub-container align-items-center">
            <div class="uper-things">
                <img class="mb-4" src="{{url_for('static' , filename='img/bootstrap-logo.svg')}}" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please Sign-Up</h1>
            </div>
    
            <form method="post" action="/signuping" class="row g-3 container-form">
                
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputuserId" class="form-label">User-Id</label>
                    <input type="text" class="form-control" name="userid" id="inputuserid">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Re-password</label>
                    <input type="password" name="re_password" class="form-control" id="inputAddress" >
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Phone no</label>
                    <input type="number" class="form-control" name="phoneno" id="inputAddress2">
                </div>

                <!-- <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div> 
                </div> -->
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>